<!DOCTYPE html>
<html>
<head>


   <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Megamaxi</title>

    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/DataTables/css/datatables.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">



	<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/ec/ec-all.js"></script>

	<title>
		Módulo GPS
	</title>

	<style type="text/css">
		#container {
    height: 800px; 
    width: 800px; 
    margin: 0 auto; 
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
	</style>
     <link rel="icon" type="image/png" href="/static/icons/favicon.ico"/>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">Megamaxi</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="/temperatura" class="nav-link">Regresar</a>
                    </li>
                    <li class="nav-item">
                        <a href="/inicio" class="nav-link">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

	<div id="container"></div>


</body>


	
	<script type="text/javascript">
	var salinas={

            x:2052.091,
            y:-3691.303
        };
        var guayaquil={
            x:3698.051,
            y:-3741.181
        };
        var quito={
            x:6006.241,
            y:-7057.141

        };
        

function pointsToPath(from, to) {
       

        console.log(['M', from.x, from.y, 'L', to.x, to.y]);
        return ['M', from.x, from.y, 'L', to.x, to.y];
    }

    // Initiate the chart
    
   Highcharts.mapChart('container', {
        legend: {
            enabled: true
        },
        credits: {
            enabled: false
        },

        series: [{
            nullColor: "#f3f3f3",
            mapData: Highcharts.maps['countries/ec/ec-all'],
            borderColor: "#606060",
            name: "Basemap",
            showInLegend: false,
            plotBackgroundColor: '#00004d',

        }, 


            {
        name: "Ruta",
        type: "mapline",
        lineWidth: 3,
        color: '#ff0000' ,
        data: [

        {
            "id": "LocationB -> LocationA",
            "path":["M",4431.405, -8783.547,"L", 3232.3426,-6212.907]
        },
        
        {
            "id": "LocationB -> LocationA",
            "path":["M",3232.3426, -6212.907,"L", 3698.051,-3741.181]
        },


        



        ]
    },  {
        // Specify points using lat/lon
        type: 'mappoint',
        name: 'Ciudades',
                
        color: '#00a000',
        data: [{
            name: 'Guayaquil',
            lat: -2.19616,
            lon:  -79.88621
        }, {
            name: 'Quito',
            lat:  -0.225219,
            lon:  -78.5248,

        },{
            name: 'Cotopaxi',
            lat: -0.813335   ,
            lon:  -78.8554,

        }, 
        {
            name: 'Bolivar',
            lat: -1.67621   ,
            lon: -79.0887,

        },  
        {
            name: 'Esmeraldas',
            lat: 0.80053   ,
            lon:  -79.45397,

        },
        
        {
            name: 'Manabí',
            lat: -0.727203  ,
            lon: -80.1619,

        },
         {
            name: 'Santo Domingo',
            lat: -0.34834 ,
            lon: -79.2525,

        },
        {
            name: 'Cuenca',
            lat:-3.15279 ,
            lon: -79.09090,

        },
        {
            name: 'Pastaza',
            lat: -1.84655 ,
            lon: -76.8768,

        },

       {
            name: 'Salinas',
            lat:  -2.22622 ,
            lon:  -80.85873,
            dataLabels: {
                
                align: 'left',
                x: 5,
                verticalAlign: 'middle',
            }
        }



        ]
    }


            

        ],
        "title": {
            "text": "Módulo GPS"
        },mapNavigation: {
        enabled: true
    },
        "xAxis": {
            "crosshair": {
                "zIndex": 5,
                "color": "gray",
                "dashStyle": "dot",
                "snap": false
            }
        },
        "yAxis": {
            "crosshair": {
                "zIndex": 5,
                "color": "gray",
                "dashStyle": "dot",
                "snap": false
            }
        },
        "chart": {
            "zoomType": "xy",
            "animation": true,
             "plotBackgroundColor": '#00004d'
        }
    }



    );
        
	</script>

	


<figure class="highcharts-figure">
  <p class="highcharts-description">
    This demo visualizes a data set with irregular time intervals.
    Highcharts comes with sophisticated functionality for dealing
    with time data, including support for different time zones and
    irregular intervals.
  </p>
</figure>
</html>