<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/templates/Table_Responsive_v1/Table_Responsive_v1/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/templates/Table_Responsive_v1/Table_Responsive_v1/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/templates/Table_Responsive_v1/Table_Responsive_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/templates/Table_Responsive_v1/Table_Responsive_v1/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/templates/Table_Responsive_v1/Table_Responsive_v1/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/templates/Table_Responsive_v1/Table_Responsive_v1/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/templates/Table_Responsive_v1/Table_Responsive_v1/css/util.css">
	<link rel="stylesheet" type="text/css" href="/templates/Table_Responsive_v1/Table_Responsive_v1/css/main.css">
<!--===============================================================================================-->
<link rel="stylesheet" href="/static/css/skel.css" />
			<link rel="stylesheet" href="/static/css/style.css" />
			<link rel="stylesheet" href="/static/css/style-wide.css" />

<title>MEGAMAXI</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.dropotron.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>
		<noscript>
			
		</noscript>
</head>

					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h5><a href="/homepage">MEGAMAXI</a></h5>
							<span class="tag"></span>
						</div>
						<nav id="nav">
							<ul>
								<li class="active"><a href="/homepage">Homepage</a></li>
								<li><a href="/productos">Productos</a></li>
								<li><a href="/mapa">Flujo</a></li>
								<li><a href="/inicio">Cerrar Sesión</a></li>
							</ul>
						</nav>
					</div>

<body>
	


				<!-- Header -->
					
	<div class="limiter" style="background-color: #FFFFFF;">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<a href="#" class="button">+NUEVO</a>
						<thead>
							<br>
							<br>

							<tr class="table100-head">
								<th class="column1">Código Lote</th>
								<th class="column2">Producto</th>
								<th class="column3">No. Parcela</th>
								<th class="column4">Fecha cosecha</th>
								<th class="column5">Fecha Expiración</th>
								<th class="column6">Fecha Creación </th>
								<th class="column7"> </th>
								<th class="column8"> </th>

							</tr>
						</thead>
						<tbody>
								<tr>
									<td class="column1">MAN001</td>
									<td class="column2">Manzana</td>
									<td class="column3">20</td>
									<td class="column4">4/5/2020</td>
									<td class="column5">9/11/2021</td>
									<td class="column6">2/3/2020</td>
									<th class="column7"> <a href="#" class="button small">
									Editar</a></th>
									<th class="column7"> <a href="#" class="button small">
									Eliminar</a></th>

								</tr>
								<tr>
									<td class="column1">PER020</td>
									<td class="column2">Pera</td>
									<td class="column3">08</td>
									<td class="column4">2/7/2020</td>
									<td class="column5">5/8/2021</td>
									<td class="column6">5/5/2020</td>
									<th class="column7"> <a href="#" class="button small">
									Editar</a></th>
									<th class="column7"> <a href="#" class="button small">
									Eliminar</a></th>
								</tr>
								<tr>
									<td class="column1">TOM031</td>
									<td class="column2">Tomate</td>
									<td class="column3">15</td>
									<td class="column4">13/10/2020</td>
									<td class="column5">20/12/2021</td>
									<td class="column6">13/8/2020</td>
									<th class="column7"> <a href="#" class="button small">
									Editar</a></th>
									<th class="column7"> <a href="#" class="button small">
									Eliminar</a></th>
								</tr>
								<tr>
									<td class="column1">MAN001</td>
									<td class="column2">Manzana</td>
									<td class="column3">20</td>
									<td class="column4">12/3/2020</td>
									<td class="column5">5/5/2021</td>
									<td class="column6">10/1/2020</td>
									<th class="column7"> <a href="#" class="button small">
									Editar</a></th>
									<th class="column7"> <a href="#" class="button small">
									Eliminar</a></th>
								</tr>
								<tr>
									<td class="column1">GUA001</td>
									<td class="column2">Guayaba</td>
									<td class="column3">30</td>
									<td class="column4">10/7/2020</td>
									<td class="column5">18/9/2021</td>
									<td class="column6">2/5/2020</td>
									<th class="column7"> <a href="#" class="button small">
									Editar</a></th>
									<th class="column7"> <a href="#" class="button small">
									Eliminar</a></th>
								</tr>
								<tr>
									<td class="column1">LEC001</td>
									<td class="column2">Lechuga</td>
									<td class="column3">02</td>
									<td class="column4">11/4/2020</td>
									<td class="column5">12/6/2021</td>
									<td class="column6">19/2/2020</td>
									<th class="column7"> <a href="#" class="button small">
									Editar</a></th>
									<th class="column7"> <a href="#" class="button small">
									Eliminar</a></th>
								</tr>
								
								
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>

</html>